UAH-DRIVESET-v1/.DS_Store
UAH-DRIVESET-v1/.matplotlib/fontlist-v3.11.0.json
UAH-DRIVESET-v1/D1/.DS_Store
UAH-DRIVESET-v1/D1/20151110175712-16km-D1-NORMAL1-SECONDARY/20151110175712-16km-D1-NORMAL1-SECONDARY.mp4
UAH-DRIVESET-v1/D1/20151110175712-16km-D1-NORMAL1-SECONDARY/EVENTS_INERTIAL.txt
UAH-DRIVESET-v1/D1/20151110175712-16km-D1-NORMAL1-SECONDARY/EVENTS_LIST_LANE_CHANGES.txt
UAH-DRIVESET-v1/D1/20151110175712-16km-D1-NORMAL1-SECONDARY/EVENTS_LIST_LANE_CHANGES.txt~
UAH-DRIVESET-v1/D1/20151110175712-16km-D1-NORMAL1-SECONDARY/PROC_LANE_DETECTION.txt
UAH-DRIVESET-v1/D1/20151110175712-16km-D1-NORMAL1-SECONDARY/PROC_OPENSTREETMAP_DATA.txt
UAH-DRIVESET-v1/D1/20151110175712-16km-D1-NORMAL1-SECONDARY/PROC_VEHICLE_DETECTION.txt
UAH-DRIVESET-v1/D1/20151110175712-16km-D1-NORMAL1-SECONDARY/RAW_ACCELEROMETERS.txt
UAH-DRIVESET-v1/D1/20151110175712-16km-D1-NORMAL1-SECONDARY/RAW_GPS.txt
UAH-DRIVESET-v1/D1/20151110175712-16km-D1-NORMAL1-SECONDARY/SEMANTIC_FINAL.txt
UAH-DRIVESET-v1/D1/20151110175712-16km-D1-NORMAL1-SECONDARY/SEMANTIC_ONLINE.txt
UAH-DRIVESET-v1/D1/20151110180824-16km-D1-NORMAL2-SECONDARY/20151110180846-16km-D1-NORMAL2-SECONDARY.mp4
UAH-DRIVESET-v1/D1/20151110180824-16km-D1-NORMAL2-SECONDARY/EVENTS_INERTIAL.txt
UAH-DRIVESET-v1/D1/20151110180824-16km-D1-NORMAL2-SECONDARY/EVENTS_INERTIAL.txt~
UAH-DRIVESET-v1/D1/20151110180824-16km-D1-NORMAL2-SECONDARY/EVENTS_LIST_LANE_CHANGES.txt
UAH-DRIVESET-v1/D1/20151110180824-16km-D1-NORMAL2-SECONDARY/EVENTS_LIST_LANE_CHANGES.txt~
UAH-DRIVESET-v1/D1/20151110180824-16km-D1-NORMAL2-SECONDARY/PROC_LANE_DETECTION.txt
UAH-DRIVESET-v1/D1/20151110180824-16km-D1-NORMAL2-SECONDARY/PROC_OPENSTREETMAP_DATA.txt
UAH-DRIVESET-v1/D1/20151110180824-16km-D1-NORMAL2-SECONDARY/PROC_VEHICLE_DETECTION.txt
UAH-DRIVESET-v1/D1/20151110180824-16km-D1-NORMAL2-SECONDARY/RAW_ACCELEROMETERS.txt
